html{
  --floral-white: #fffcf2ff;
  --pale-silver: #bdccb9;
  --black-olive: #403d39ff;
  --eerie-black: #252422ff;
  --flame: #eb5e28ff;
  --green: rgba(179, 255, 160, 0.2);
  --yellow: rgba(255, 241, 160, 0.2);
  --purple: rgba(188, 160, 255, 0.2);
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Newsreader', serif;
}
body{
  --block-text-color:  var(--eerie-black);
  --block-background-color: var(--floral-white);
  --block-shadow-color:var(--black-olive);
  --block-accent-color: var(--eerie-black);
  background-color: var(--floral-white);
  margin:auto;
  width: 80%;
  max-width: 100%;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: var(--eerie-black);
}
a.styled{
  border-bottom: 2px solid var(--flame);
}
a.styled:hover{
  background-color: var(--yellow);
}
p{
  font-size: 1.5rem;
  line-height: 1.2;
  margin-top: 1rem;
}
.italic {
font-style: italic;
}
.small {
 font-size: 1.5rem;
}
#header{
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

}
#headerInner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
}
#header .contactButton{
  margin-right: 24px;
}
.contactButton{
  font-size: 2rem;
  padding: 8px 16px;
}
.margin24{
  margin: 24px;
}
#logo{
  height: 3rem;
  width: 3rem;
  /* border: 3px solid var(--eerie-black); */
  /* padding: 8px 12px 8px 12px; */
  /* border-radius: 4px; */
  /* background: var(--floral-white); */
  margin-left: 24px;
}
.topTitle {
  margin-top: 118px;
}
.title{
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 3px solid var(--eerie-black);
  float:left;
  margin-right: 8px;
  margin-bottom: 8px;
}
.highlight{
  background-color: var(--green);
}
.highlightRight{
  width: 100%;
  height: 2rem;
  bottom: 0px;
  left:45%;
  position: absolute;
  background: var(--purple);
  border-radius: 4px;
}

.bigFont p{
  font-size: 1.5rem;
}
#what-we-do{
  margin: auto;
  display: flex;
  flex-direction: column;
}
.marginY{
  margin: 64px 0px;
}
.card{
  background: var(--green);
  /* border: 3px solid var(--eerie-black); */
  border-radius: 40px;
  text-align: left;
  margin: 8px;
  display:block;
}
.card:nth-child(1){
  background-color: var(--green);
}
.card:nth-child(2){
  background-color: var(--yellow);
}
.card:nth-child(3){
  background-color: var(--purple);
}
.cardImg{
  width: 50%;
  height: auto;
}
.cardInnerContainer{
  padding: 8px 16px;
  text-align: center;
}
.card p{
  text-align: left;
  margin-top: 1rem;
}
.header{
  font-size: 2rem;
  text-align: left;
  margin-bottom: 0;
}

.bigHeader{
position: relative;
font-size: 2.5rem;
margin-bottom: 0;
text-align: left;

}
#timeline{
  width:100%;
  height: 550px;
  border: none;
}
#faq{
  margin-bottom: 1rem;
}
#message{
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 32px;
}
#message input,textarea{
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  background: var(--floral-white);
  outline: none;
  border: none;
  resize: none;
}
#message #submit{
  width: 45%;
  font-size: 2rem;
}
.hidden{
  display: none;
}
#footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.6rem;
}
.hideMobile{
  display: none;
}
@media only screen and (min-width: 900px) {
  .topTitle {
    z-index: 100;
    margin-top: 100px;
  }
}
@media only screen and (min-width: 800px) {
  body {
    width: 70%;
  }
  #timeline{
    /* height: 700px; */
  }
  p{
    text-align: justify;
  }
  .topTitle {
    /* z-index: 100;
    margin-top: 24px; */
  }
  #what-we-do{
    margin: auto;
    margin-top: 72px;
    display: flex;
    flex-direction: row;
  }
  .hideMobile{
    display: none;
  }
  .centerText{
    text-align: center;
  }
  #logo{
    /* margin-left: -40px; */
  }
}
